@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* HTML PAGE */
.app {
  min-height: 100vh;
  background-color: rgb(208, 250, 239);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
}


/* HEADER */
#blogHeader {
  font-size: 3vw;
  color: #ff5959;
}

/* Supported browsers */
@supports (background-clip: text) {
  #blogHeader {
    font-size: 3vw;
  
    /* Gradient colour */
    background-image: linear-gradient(50deg, #ffcf31, #ff5959);
    background-clip: text;
    color: transparent;
  }
}

h2 {
  font-size: 2vw;
  color: darkblue;
}


/* NEW POST FORM ELEMENTS */
.newpost {
  border: 2px groove rgb(104, 220, 255);
  height: auto;
}

.posttitle {
  color: rgb(89, 0, 255);
  font-size: 2vw;
}

.postmessage {
  color: black;
  font-size: 1.5vw;
  width: 90%; 

  /* Prevents words from falling out of div */
  word-wrap: break-word;
}

.postauthor {
  color: black;
  font-size: 1vw;
  font-style: italic;
}

#createPostBtn {
  width: 70%;
  background-color: rgb(255, 231, 96);
  color: rgb(89, 0, 255);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5vw;
  cursor: pointer;
  padding: 6px;
}


/* DIV OF POSTS */
.posts {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

/* EACH POST */
.post {
  width: 60vw;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding-top: 2%;
  padding-bottom: 2%;
}


/* FOOTER */
#copyright {
  font-size: 1.25vw;
}